<ion-pane>
	<!-- <ion-content> -->
	<div class="cs-page-content padding">
		<h1 class="text-center">Odk Settings</h1>
		<div class="cs-form-group">
			<div class="list list-inset">
				<label class="item item-input">
					<input disabled="true" type="text" placeholder="ODK Username" id="ODK_USERNAME">
				</label>
				<label class="item item-input">
					<input disabled="true" type="text" placeholder="ODK Password" id="ODK_PASSWORD">
				</label>
				<label class="item item-input">
					<input disabled="false" type="text" value="https://abalobi-monitor.appspot.com" id="ODK_URL">
				</label>
			</div>
		</div>
		<div class="cs-buttondiv">
			<button class="button button-block cs-block button-positive cs-button-padding" ng-click="writeFile()">
				Save
			</button>
		</div>






	</div>
	<!-- </ion-content> -->
</ion-pane>